<div id="headercircle"></div>
<p id="articlesheader"><u>Articles</u></p>
<div id="dot1"></div>
<div id="dot2"></div>
<div id="dot3"></div>
<div id="mobileappscircle"></div>
<p id="mobileappsheader"><u>Mobile Apps</u></p>
<div id="dot4"></div>
<div id="dot5"></div>
<div id="dot6"></div>
<div id="frameworkscircle"></div>
<p id="frameworksheader"><u>Frameworks</u></p>
<div id="dot7"></div>
<div id="dot8"></div>
<div id="dot9"></div>
<div id="technewscircle"></div>
<p id="technewsheader"><u>Tech news</u></p>
<div id="dot10"></div>
<div id="dot11"></div>
<div id="dot12"></div>
<div id="developerscircle"></div>
<p id="developersheader"><u>Developers</u></p>
<div id="dot13"></div>
<div id="dot14"></div>
<div id="dot15"></div>
<div id="randomcircle"></div>
<p id="randomheader"><u>Random</u></p>
<div ui-sref="Home" id="back4"></div>
<div ui-sref="Home" id="back5"></div>
<div ui-sref="Home" id="back6"></div>




