<div ng-controller="HomeController as vm">
	<nav id="profilenavbar" class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li id="profileheader"><h2><span id="isaac">ISAAC
						<span id="grey">GREY</span></h2></li>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
				<p ui-sref="Portfolio" id="portfolio">portfolio</p>
				<p ui-sref="Resources" id="resources">resources</p>
				<p ui-sref="Articles" id="articles">articles</p>
				<!--.....................................................-->
				<img id="myimage" src="https://scontent.fsnc1-1.fna.fbcdn.net/hprofile-xtf1/v/t1.0-1/p160x160/11800259_883436785067778_3291378131227035755_n.jpg?oh=8834397c21945564f3149d5f9d62ac83&oe=5680BBCE">
				<!--.....................................................-->
				<p id="title">-Full stack JS web application developer-</p>
				
				<p id="about"><u>About</u></p>
				<p id="statement"><b>Full Stack Javascript web developer experienced with AngularJS, MongoDB, NodeJS,<br /> Express, Meteor, ReactJS, Gulp, Sass, Bower, Node Package Manager, Bootstrap,<br>  HTML5, and CSS3. Ability to work well with front-end and back-end frameworks <br /> /libraries for building fully responsive web applications.<br /> I received my education from <span id="ccpa"><a target="_blank" href="https://www.codercamps.com/">Coder Camps Programming Academy</a></span>, where <br />I was taught to use the MEAN Stack (MongoDB, Express, AngularJS, NodeJS)<br /> to build enterprise and start-up level apps. Since then I have continued to learn<br /> new frameworks/libraries to improve my flexibility as a programmer.</b></p>
				<br />
				<p id="statement2">I currently live in Lancaster, CA and enjoy music, new technology, and snowboarding.<br /> I am available for freelance work, non-profit, and contract jobs.<br />
					Please see contact information for any questions.</p>
					<div id="sidebar"></div>
					<!--.....................................................-->
					<a target="_blank" href="https://angularjs.org/"><img id="angular" src="http://2sxc.org/Portals/0/Apps/40a89dd5-30af-43fe-bc92-00b3bf3d09ab/App-Icon.png?w=100&h=100&mode=crop&s.roundcorners=20"></a>
					<!--.....................................................-->
					<a target="_blank" href="https://nodejs.org/"><img id="node" src="http://www.c-sharpcorner.com/UploadFile/MinorCatImages/013723AM.png"></a>
					<!--.....................................................-->
					<a target="_blank" href="https://www.mongodb.org/"><img id="mongo" src="http://www.promaticsindia.com/wp-content/uploads/2014/08/MongoDB-100x100.png"></a>
					<!--.....................................................-->
					<a target="_blank" href="http://expressjs.com/"><img id="express" src="http://www.iainjmccallum.com/pics/express-logo.png"></a>
					<!--.....................................................-->
					<a target="_blank" href="https://www.meteor.com/"><img id="meteor" src="https://media.glassdoor.com/sql/893757/meteor-squarelogo-1436947756720.png"></a>
					<!--.....................................................-->
					<a target="_blank" href="http://getbootstrap.com/"><img id="bootstrap" src="http://basicuse.net/var/plain_site/storage/images/basicuse/articles/pl/textile/html_css/getting_started_with_bootstrap/61864-1-eng-GB/getting_started_with_bootstrap_view_column_image.jpg"></a>
					<!--.....................................................-->
					<a target="_blank" href="http://css3.com/"><img id="css" src="http://www.indigotheory.com/img/logo_css3.png"></a>
					<!--.....................................................-->
					<a target="_blank" href="https://www.javascript.com/"><img id="js" src="http://www.c-sharpcorner.com/UploadFile/MinorCatImages/054636AM.png"></a>
					<!--.....................................................-->
					<a target="_blank" href="https://html5.org/"><img id="html5" src="http://searchengineland.com/figz/wp-content/seloads/2011/11/html-5-for-seo.png"></a>
					<!--.....................................................-->
					<a target="_blank" href="http://gulpjs.com/"><img id="gulp" src="https://avatars0.githubusercontent.com/u/6200624?v=3&s=400"></a>
					<!--.....................................................-->
					<a target="_blank" href="http://sass-lang.com/"><img id="sass" src="http://marketblog.envato.com/wp-content/uploads/2014/12/pre_logo_01.jpg">
						<!--.....................................................-->
						<a target="_blank" href="http://passportjs.org/"><img id="passport" src="https://cms-assets.tutsplus.com/uploads/users/388/posts/21618/preview_image/passportjs-logo-preview.png"></a>
						<!--.....................................................-->
						<img id="hammer" src="http://previews.123rf.com/images/tribalium123/tribalium1231210/tribalium123121000301/16081658-crossed-hammer-symbol-emblem-button--Stock-Vector-icon-renovation-home.jpg">
						<!--.....................................................-->
						<div id="bottombar"></div>
						<!--.....................................................-->
						<a target="_blank" href="https://twitter.com/Isaacgreywebdev"><img id="twitter" src="http://i895.photobucket.com/albums/ac151/topplacement/ALL%20N%201%20MOVING/Twitter-icon-25x25.gif"></a>
						<p id="twitterstate">Twitter</p>
						<!--.....................................................-->
						<a target="_blank" href="https://www.linkedin.com/pub/isaac-grey/102/63a/bab"><img id="linkedin" src="https://www.ashoka.org/sites/www.ashoka.org/files/linkedin_logo-25x25.png"></a>
						<p id="linkedinstate">LinkedIn</p>
						<!--.....................................................-->
						<a target="_blank" href="https://github.com/isaacg11"><img id="github" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ3kM0YVJ1UFUTtq8pkBHTn5QxEYoGFPrtOk1UC_3q3OpyD4-R3"></a>
						<p id="githubstate">Github</p>
						<!--.....................................................-->



						<div id="bottombar2"></div>
						<!--.....................................................-->
						<p id="contact"><u>Contact</u></p>
						<p id="phone">| <b>phone</b>: (661)998-6503 |</p>
						<p id="email">| <b>email</b>: isaacgreywebdeveloper@gmail.com |</p>
						<p id="linkedinurl">| <b>LinkedIn</b>: https://www.linkedin.com/pub/isaac-grey/102/63a/bab |</p>
						<p id="copyright"><i>IsaacGrey.com©</i></p>
						<!--.....................................................-->
						<div id="bottombar3"></div>
						<!--.....................................................-->
						<!--.....................................................-->
						<p id="myjstoolbelt">My Developer Toolbelt</p>

						<!--.....................................................-->
					</nav>
				</div>

