<p id="portfolioheader">Portfolio</p>
<div id="topbar"></div>
<br />
<div id="topbar2"></div>
<div id="sidebarleft"></div>
<div id="sidebarright"></div>
<div id="centerbar"></div>
<div id="bottombarportfolio"></div>
<p id="myprojects">My Projects</p>
<p id="mygithub">My Github</p>
<img id="cloud" src="http://www.how-to-draw-cartoons-online.com/image-files/cartoon_clouds.gif">
<img id="house" src="http://images.clipartpanda.com/house-outline-clipart-black-and-white-gingerbread-house-outline-md.png">
<img id="githublogo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ3kM0YVJ1UFUTtq8pkBHTn5QxEYoGFPrtOk1UC_3q3OpyD4-R3">
