<p id="portfolioheader">Portfolio</p>
<div id="topbar"></div>
<br />
<div id="topbar2"></div>
<div id="sidebarleft"></div>
<div id="sidebarright"></div>
<div id="centerbar"></div>
<div id="bottombarportfolio"></div>
<p id="myprojects">My Projects</p>
<p id="mygithub">My Github</p>
<img id="cloud" src="http://www.how-to-draw-cartoons-online.com/image-files/cartoon_clouds.gif">
<img id="house" src="http://images.clipartpanda.com/house-outline-clipart-black-and-white-gingerbread-house-outline-md.png">
<img id="githublogo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ3kM0YVJ1UFUTtq8pkBHTn5QxEYoGFPrtOk1UC_3q3OpyD4-R3">
<p id="blogdrafter"><u>Blog Drafter</u></p>
<p id="description">A blog drafter app that makes it possible<br> for a blog writer to make a rough draft, share it with other <br>blog writers and get feedback on their rough draft before publishing.<br> If you are a blog writer and writing blogs is your career,<br> this app makes it to where you can use other blog writers <br>as editors for your first draft before you release anything to<br> the public, making your blogs more likely to be read!</p>
<div id="link1">
	<a href="https://github.com/isaacg11/databinding_intro">https://github.com/isaacg11/databinding_intro</a>
</div>
<div id="link2">
	<a  href="https://github.com/isaacg11/fizzbuzzangular">https://github.com/isaacg11/fizzbuzzangular</a>
</div>
<div id="link3">
	<a href="https://github.com/isaacg11/SocialPostProject">https://github.com/isaacg11/SocialPostProject</a>
</div>
<div id="link4">
	<a href="https://github.com/isaacg11/Pintrestpost">https://github.com/isaacg11/Pintrestpost</a>
</div>
<div id="link5">
	<a href="https://github.com/isaacg11/BlogApp">https://github.com/isaacg11/BlogApp</a>
</div>
<div id="link6">
	<a href="https://github.com/isaacg11/ReactListapp">https://github.com/isaacg11/ReactListapp</a>
</div>
<div id="link7">
	<a href="https://github.com/isaacg11/devpage">https://github.com/isaacg11/devpage</a>
</div>
<div id="more">
<a href="https://github.com/isaacg11">More...</a>
</div>