<p id="resourcesheader"><u>Resources</u></p>
<div id="front-end"></div>
<div id="back-end"></div>
<div id="styling"></div>
<p id="front-endheader">Front-End</p>
<p id="back-endheader">Back-End</p>
<p id="stylingheader">Styling</p>
<ul id="front-endlist">
	<a target="_blank" href="http://backbonejs.org/"><li>Backbone.js</li></a>
	<a target="_blank" href="http://emberjs.com/"><li>Ember.js</li></a>
	<a target="_blank" href="https://angularjs.org/"><li>Angular.js</li></a>
	<a target="_blank" href="http://facebook.github.io/react/"><li>React.js</li></a>
	<a target="_blank" href="http://knockoutjs.com/"><li>Knockout</li></a>
	<a target="_blank" href="http://batmanjs.org/"><li>Batman.js</li></a>
	<a target="_blank" href="http://sammyjs.org/"><li>Sammy.js</li></a>
	<a target="_blank" href="http://spinejs.com/"><li>Spine.js</li></a>
	<a target="_blank" href="https://www.meteor.com/"><li>Meteor.js</li></a>
	<a target="_blank" href="https://www.polymer-project.org/1.0/
	"><li>Polymer.js</li></a>
	<a target="_blank" href="http://canjs.com/"><li>Can.js</li></a>
	<a target="_blank" href="http://agilityjs.com/"><li>Agility.js</li></a>
	<a target="_blank" href="https://jquery.com/"><li>jQuery</li></a>
</ul>
<ul id="back-endlist">
	<a target="_blank" href="http://hapijs.com/"><li>Hapi.js</li></a>
	<a target="_blank" href="http://socket.io/"><li>Socket.io</li></a>
	<a target="_blank" href="http://expressjs.com/"><li>Express.js</li></a>
	<a target="_blank" href="https://developer.yahoo.com/cocktails/mojito/"><li>Mojito</li></a>
	<a target="_blank" href="http://derbyjs.com/"><li>Derby.js</li></a>
	<a target="_blank" href="http://sailsjs.org/"><li>Sails.js</li></a>
	<a target="_blank" href="https://www.totaljs.com/?language=en"><li>Total.js</li></a>
	<a target="_blank" href="http://koajs.com/"><li>Koa.js</li></a>
	<a target="_blank" href="http://loopback.io/"><li>Loopback.js</li></a>
	<a target="_blank" href="http://tower.github.io/"><li>Tower.js</li></a>
	<a target="_blank" href="http://flatironjs.org/"><li>Flatiron.js</li></a>
	<a target="_blank" href="http://frisbyjs.com/"><li>Frisby.js</li></a>
</ul>
<ul id="stylinglist">
	<a target="_blank" href="http://getbootstrap.com/"><li>Bootstrap</li></a>
	<a target="_blank" href="http://getuikit.com/"><li>UI-Kit</li></a>
	<a target="_blank" href="https://html5boilerplate.com/"><li>HTML5 Boilerplate</li></a>
	<a target="_blank" href="http://getskeleton.com/"><li>Skeleton</li></a>
	<a target="_blank" href="http://getkickstart.com/"><li>Kickstart</li></a>
	<a target="_blank" href="http://52framework.com/"><li>52 Framework</li></a>
	<a target="_blank" href="https://groundworkcss.github.io/"><li>Groundwork</li></a>
	<a target="_blank" href="http://montagestudio.com/montagejs/"><li>Montage</li></a>
	<a target="_blank" href="http://foundation.zurb.com/"><li>Foundation</li></a>
	<a target="_blank" href="http://sproutcore.com/"><li>SproutCore</li></a>
</ul>
<img id="myimage2" src="https://scontent.fsnc1-1.fna.fbcdn.net/hprofile-xtf1/v/t1.0-1/p160x160/11800259_883436785067778_3291378131227035755_n.jpg?oh=8834397c21945564f3149d5f9d62ac83&oe=5680BBCE">
<div class="chat">
	<div id="textbubble1" class="bubble me">"Check out these full stack JS frameworks and libraries!"</div>
</div>

<div id="back" ui-sref="Portfolio">
<span id="hoverportfolioRE">Portfolio</span>
	</div>
	<div id="back2" ui-sref="Articles">
		<span id="hoverarticlesRE">Articles</span>
		</div>
		<div id="back3" ui-sref="Home">
			<span id="hoverhomeRE">Home</span>
		</div>


