<p id="resourcesheader"><u>Resources</u></p>
<div id="front-end"></div>
<div id="back-end"></div>
<div id="styling"></div>
<p id="front-endheader">Front-End</p>
<p id="back-endheader">Back-End</p>
<p id="stylingheader">Styling</p>
<ul id="front-endlist">
	<a target="_blank" href="http://backbonejs.org/"><li>Backbone.js</li></a>
	<a target="_blank" href="http://emberjs.com/"><li>Ember.js</li></a>
	<a target="_blank" href="https://angularjs.org/"><li>Angular.js</li></a>
	<a target="_blank" href="http://facebook.github.io/react/"><li>React.js</li></a>
	<a target="_blank" href="http://knockoutjs.com/"><li>Knockout</li></a>
	<a target="_blank" href="http://batmanjs.org/"><li>Batman.js</li></a>
	<a target="_blank" href="http://sammyjs.org/"><li>Sammy.js</li></a>
	<a target="_blank" href="http://spinejs.com/"><li>Spine.js</li></a>
	<a target="_blank" href="https://www.meteor.com/"><li>Meteor.js</li></a>
	<a target="_blank" href="https://www.polymer-project.org/1.0/
	"><li>Polymer.js</li></a>
	<a target="_blank" href="http://canjs.com/"><li>Can.js</li></a>
	<a target="_blank" href="http://agilityjs.com/"><li>Agility.js</li></a>
	<a target="_blank" href="https://jquery.com/"><li>jQuery</li></a>
</ul>
<ul id="back-endlist">
	<a target="_blank" href="http://hapijs.com/"><li>Hapi.js</li></a>
	<a target="_blank" href="http://socket.io/"><li>Socket.io</li></a>
	<a target="_blank" href="http://expressjs.com/"><li>Express.js</li></a>
	<a target="_blank" href="https://developer.yahoo.com/cocktails/mojito/"><li>Mojito</li></a>
	<a target="_blank" href="http://derbyjs.com/"><li>Derby.js</li></a>
	<a target="_blank" href="http://sailsjs.org/"><li>Sails.js</li></a>
	<a target="_blank" href="https://www.totaljs.com/?language=en"><li>Total.js</li></a>
	<a target="_blank" href="http://koajs.com/"><li>Koa.js</li></a>
	<a target="_blank" href="http://loopback.io/"><li>Loopback.js</li></a>
	<a target="_blank" href="http://tower.github.io/"><li>Tower.js</li></a>
	<a target="_blank" href="http://flatironjs.org/"><li>Flatiron.js</li></a>
	<a target="_blank" href="http://frisbyjs.com/"><li>Frisby.js</li></a>
</ul>
<ul id="stylinglist">
	<a target="_blank" href="http://getbootstrap.com/"><li>Bootstrap</li></a>	
</ul>
